appscanner/schemas/Assessment_run_results.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <xs:element name="Assessments">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="AssessmentRunData" maxOccurs="unbounded">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element name="AssessmentRunInfo" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="HarmScore" type="xs:int"></xs:element>
                                                            <xs:element name="RiskFactor" type="xs:int"></xs:element>
                                                            <xs:element name="Status" type="xs:string"></xs:element>
                                                            <xs:element name="AttackCount" type="xs:int"></xs:element>
                                                            <xs:element name="MaxPagesVisited" type="xs:int"></xs:element>
                                                            <xs:element name="StartTime" type="xs:string"></xs:element>
                                                            <xs:element name="EndTime" type="xs:string"></xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element name="SmartAttacks" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="SmartAttacksData" maxOccurs="unbounded">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element name="SmartAttackInfo" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="SmartAttackName" type="xs:string"></xs:element>
                                                                                                <xs:element name="Description" type="xs:string"></xs:element>
                                                                                                <xs:element name="TechnicalDescription" type="xs:string"></xs:element>
                                                                                                <xs:element name="HowItWorks" type="xs:string"></xs:element>
                                                                                                <xs:element name="Impact" type="xs:string"></xs:element>
                                                                                                <xs:element name="Remediation" type="xs:string"></xs:element>
                                                                                          </xs:sequence>
                                                                                          <xs:attribute name="PolicyId" type="xs:string"></xs:attribute>
                                                                                          <xs:attribute name="PolicyVersion" type="xs:string"></xs:attribute>
                                                                                          <xs:attribute name="CenzicId" type="xs:string"></xs:attribute>
                                                                                          <xs:attribute name="Severity" type="xs:string"></xs:attribute>
                                                                                          <xs:attribute name="VulnerabilityIds" type="xs:string"></xs:attribute>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="ReportItems" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="ReportItem" maxOccurs="unbounded">
                                                                                                      <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                  <xs:element name="ReportItemType" type="xs:string"></xs:element>
                                                                                                                  <xs:element name="ReportItemCreateDate" type="xs:string"></xs:element>
                                                                                                                  <xs:element name="Severity" type="xs:string"></xs:element>
                                                                                                                  <xs:element name="HarmScore" type="xs:int"></xs:element>
                                                                                                                  <xs:element name="CVSSBaseScore"></xs:element>
                                                                                                                  <xs:element name="ComputedHarmScore" type="xs:int"></xs:element>
                                                                                                                  <xs:element name="Count" type="xs:int"></xs:element>
                                                                                                                  <xs:element name="Message" type="xs:string"></xs:element>
                                                                                                                  <xs:element name="GlobalizedMessage" type="xs:string"></xs:element>
                                                                                                                  <xs:element name="Url"></xs:element>
                                                                                                                  <xs:element name="TraversalName" type="xs:string"></xs:element>
                                                                                                                  <xs:element name="Filtered" type="xs:int"></xs:element>
                                                                                                                  <xs:element name="HttpRequest"></xs:element>
                                                                                                                  <xs:element name="HttpResponse"></xs:element>
                                                                                                                  <xs:element name="StructuredData"></xs:element>
                                                                                                            </xs:sequence>
                                                                                                            <xs:attribute name="Id" type="xs:int"></xs:attribute>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="Categories" minOccurs="0" maxOccurs="1">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="Category" maxOccurs="unbounded">
                                                                                                      <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                  <xs:element name="Name" type="xs:string"></xs:element>
                                                                                                            </xs:sequence>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element name="ASMSummaryData" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="asmInfo" minOccurs="0" maxOccurs="1">
                                                                  <xs:complexType>
                                                                        <xs:sequence>
                                                                              <xs:element name="asmInfoType" type="xs:string"></xs:element>
                                                                              <xs:element name="asmInfoProvider" type="xs:string"></xs:element>
                                                                              <xs:element name="asmInfoIndex" type="xs:int"></xs:element>
                                                                              <xs:element name="totalAssessmentProblems" type="xs:int"></xs:element>
                                                                              <xs:element name="totalSeriousAssessmentProblems" type="xs:int"></xs:element>
                                                                              <xs:element name="routeTo" type="xs:string"></xs:element>
                                                                              <xs:element name="runTime" type="xs:int"></xs:element>
                                                                              <xs:element name="chsVersionInfo" type="xs:string"></xs:element>
                                                                              <xs:element name="startingURL" type="xs:string"></xs:element>
                                                                              <xs:element name="traversalRuns" type="xs:int"></xs:element>
                                                                              <xs:element name="totalPages" type="xs:int"></xs:element>
                                                                              <xs:element name="totalPagesWithBadLoadStatus" type="xs:int"></xs:element>
                                                                              <xs:element name="totalPagesSkipped" type="xs:int"></xs:element>
                                                                              <xs:element name="totalAJAXPageUpdates" type="xs:int"></xs:element>
                                                                              <xs:element name="traversalPages">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="run" type="xs:int">
                                                                                                      <xs:complexType>
                                                                                                            <xs:attribute name="n" type="xs:int"></xs:attribute>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="traversalStatus">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="run" type="xs:string">
                                                                                                      <xs:complexType>
                                                                                                            <xs:attribute name="n" type="xs:int"></xs:attribute>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="traversalRestart">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="run" type="xs:string">
                                                                                                      <xs:complexType>
                                                                                                            <xs:attribute name="n" type="xs:int"></xs:attribute>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="maxTraversalPages" type="xs:int"></xs:element>
                                                                              <xs:element name="maxTraversalPagesSkipped" type="xs:int"></xs:element>
                                                                              <xs:element name="maxTraversalAJAXPageUpdates" type="xs:int"></xs:element>
                                                                              <xs:element name="totalTraversalSteps" type="xs:int"></xs:element>
                                                                              <xs:element name="totalTraversalStepTime" type="xs:int"></xs:element>
                                                                              <xs:element name="maxTraversalStepTime" type="xs:int"></xs:element>
                                                                              <xs:element name="averageTraversalStepTime" type="xs:int"></xs:element>
                                                                              <xs:element name="totalReportItems" type="xs:int"></xs:element>
                                                                              <xs:element name="totalFailureReportItems" type="xs:int"></xs:element>
                                                                              <xs:element name="totalWarningReportItems" type="xs:int"></xs:element>
                                                                              <xs:element name="totalInformationReportItems" type="xs:int"></xs:element>
                                                                              <xs:element name="totalSuccessReportItems" type="xs:int"></xs:element>
                                                                              <xs:element name="totalNotifyReportItems" type="xs:int"></xs:element>
                                                                              <xs:element name="unresponsiveAssessment" type="xs:string"></xs:element>
                                                                              <xs:element name="appAnalysisHasRun" type="xs:string"></xs:element>
                                                                              <xs:element name="PCBSeriesCount" type="xs:int"></xs:element>
                                                                              <xs:element name="totalPCBSeriesTime" type="xs:int"></xs:element>
                                                                              <xs:element name="totalPCBRequests" type="xs:int"></xs:element>
                                                                              <xs:element name="totalSLRequests" type="xs:int"></xs:element>
                                                                              <xs:element name="totalBRMRequests" type="xs:int"></xs:element>
                                                                              <xs:element name="totalTimedOutResponses" type="xs:int"></xs:element>
                                                                              <xs:element name="total5xxResponses" type="xs:int"></xs:element>
                                                                              <xs:element name="totalResentRequests" type="xs:int"></xs:element>
                                                                              <xs:element name="maxSLPCBRequestRate" type="xs:double"></xs:element>
                                                                              <xs:element name="minSLPCBRequestRate" type="xs:double"></xs:element>
                                                                              <xs:element name="maxBRMPCBRequestRate" type="xs:int"></xs:element>
                                                                              <xs:element name="minBRMPCBRequestRate" type="xs:int"></xs:element>
                                                                              <xs:element name="requestsInPCBSeries">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="series" maxOccurs="unbounded" type="xs:int">
                                                                                                      <xs:complexType>
                                                                                                            <xs:attribute name="n" type="xs:int"></xs:attribute>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="requestRateForPCBSeries">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="series" maxOccurs="unbounded" type="xs:double">
                                                                                                      <xs:complexType>
                                                                                                            <xs:attribute name="n" type="xs:int"></xs:attribute>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="timedOutResponsesInPCBSeries">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="series" maxOccurs="unbounded" type="xs:int">
                                                                                                      <xs:complexType>
                                                                                                            <xs:attribute name="n" type="xs:int"></xs:attribute>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                              <xs:element name="performanceReport"></xs:element>
                                                                              <xs:element name="memoryUsageReport" type="xs:string"></xs:element>
                                                                              <xs:element name="realStatus" type="xs:string"></xs:element>
                                                                              <xs:element name="statusAnalysis" type="xs:string"></xs:element>
                                                                              <xs:element name="siteFeatureInfo">
                                                                                    <xs:complexType>
                                                                                          <xs:sequence>
                                                                                                <xs:element name="POSTRequestFormats">
                                                                                                      <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                  <xs:element name="AJAX">
                                                                                                                        <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                    <xs:element name="count" type="xs:int"></xs:element>
                                                                                                                              </xs:sequence>
                                                                                                                        </xs:complexType>
                                                                                                                  </xs:element>
                                                                                                                  <xs:element name="JSON">
                                                                                                                        <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                    <xs:element name="count" type="xs:int"></xs:element>
                                                                                                                              </xs:sequence>
                                                                                                                        </xs:complexType>
                                                                                                                  </xs:element>
                                                                                                            </xs:sequence>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                                <xs:element name="browser">
                                                                                                      <xs:complexType>
                                                                                                            <xs:sequence>
                                                                                                                  <xs:element name="IE-only">
                                                                                                                        <xs:complexType>
                                                                                                                              <xs:sequence>
                                                                                                                                    <xs:element name="isPresent" type="xs:string"></xs:element>
                                                                                                                                    <xs:element name="overriddenByFrontEnd" type="xs:string"></xs:element>
                                                                                                                              </xs:sequence>
                                                                                                                        </xs:complexType>
                                                                                                                  </xs:element>
                                                                                                            </xs:sequence>
                                                                                                      </xs:complexType>
                                                                                                </xs:element>
                                                                                          </xs:sequence>
                                                                                    </xs:complexType>
                                                                              </xs:element>
                                                                        </xs:sequence>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                          <xs:element name="PagesVisited" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element name="Url" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="RequestId" type="xs:string"></xs:attribute>
                                    <xs:attribute name="AssessmentRunId" type="xs:string"></xs:attribute>
                                    <xs:attribute name="AssessmentName" type="xs:string"></xs:attribute>
                                    <xs:attribute name="ApplicationName" type="xs:string"></xs:attribute>
                                    <xs:attribute name="ApplicationId" type="xs:string"></xs:attribute>
                                    <xs:attribute name="ApplicationUrl" type="xs:string"></xs:attribute>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
</xs:schema>